* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  background-color: lightcoral;
}

.wrapper section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;
}

.course-page {
  display: flex;
  flex-direction: column!important;
  /* justify-content: center; */
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 600px;
    min-height: 500px;
  }
}